:root {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: rgb(240, 248, 255);
}

body {
    margin: 0;
    background: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4.5rem;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    line-height: 1;
}

body > .wrapper {
    width: 100%;
    margin: auto;
}

.logo > img {
    margin: auto;
    display: block;
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    position: relative;
    z-index: 0;
}

main {
    padding: 4rem 1.75rem 1.75rem;
}

main > .content-item {
    margin: auto;
}

main > .content-item.c1 {
    max-width: 30rem;
}

main > .content-item.c1 > .wrapper {
    padding: 0 4rem 1rem;
    background: #1e1e1e;
    text-align: center;
}

main > .content-item.c1 > .wrapper h1 {
    margin: 0 0 2rem;
    position: relative;
    z-index: 1;
}

main > .content-item .short-text {
    line-height: 2;
}

main > .content-item .anchor-wrapper {
    margin: 2rem 0;
}

main > .content-item .anchor-wrapper > a {
    border-radius: 5rem;
    border: solid 1px;
    height: fit-content;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 1rem 2.25rem;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
}

main > .content-item .anchor-wrapper > a.next {
    border-radius: 50%;
    border: none;
    background: rgb(80, 80, 80);
    width: 4rem;
    height: 4rem;
    padding: 0;
    position: relative;
}

main > .content-item .anchor-wrapper > a.next::before {
    content: '';
    background: rgb(240, 248, 255);
    display: block;
    height: 4px;
    width: 1.5rem;
    position: absolute;
    top: 64%;
    left: 50%;
    transform-origin: right bottom;
    transform: translateX(-100%) rotate(45deg);
}

main > .content-item .anchor-wrapper > a.next::after {
    content: '';
    background: rgb(240, 248, 255);
    display: block;
    height: 4px;
    width: 1.5rem;
    position: absolute;
    top: 64%;
    left: 50%;
    transform-origin: left bottom;
    transform: rotate(-45deg);
}

main > .content-item > .wrapper {
    background: #1e1e1e;
    margin: auto;
}

main > .content-item.horizontal > .wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 60rem;
    padding: 3rem 4rem 3rem 3rem;
    justify-content: space-between;
}

main > .content-item.vertical > .wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 30rem;
    justify-content: space-around;
    padding: 3rem 2rem;
}

main > .content-item > .wrapper > .phase-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 28rem;
}

main > .content-item.horizontal:nth-of-type(2n) > .wrapper > .phase-desc {
    order: 2;
}

main > .content-item > .wrapper > .phase-desc * {
    text-align: center;
}

main > .content-item > .wrapper > .phase-desc .small-text {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
}

main > .content-item > .wrapper > .phase-img {
    width: 25rem;
    border-radius: 1.6rem;
    border: solid 1rem;
    margin: 1rem;
}

main > .content-item > .wrapper > .phase-img > .img-wrapper {
    margin: 1rem;
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    position: relative;
}

main > .content-item > .wrapper > .phase-img > .img-wrapper > img {
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr.content-separator {
    border: none;
}

hr.content-separator:before {
    content: '';
    display: block;
    width: 0;
    height: 8rem;
    border-left: dotted 7px;
    margin: auto;
}
